/* Changes the colors for the search bar */
.elm-user-pro-member .mt-quick-search-container .mt-search {
    background: #fff;
}

.elm-user-pro-member .mt-quick-search-container .mt-search {
    color: #000;
}

.elm-user-pro-member .mt-quick-search-container .mt-button {
    color: #999;
}

/* Add feedback to welcome pages ProMember*/
.columbia-special-firstloginwelcome .mt-feedback-rating-container {
     display: block;
}

/*** Styles for Page Settings Classification Tooltips ***/
#live-tags-custom .mt-icon-question2 {
    float: left;
    margin-right: 3px;
}

#live-tags-custom .mt-icon-question2:hover:before {
    color: #52c5ce;
}

.live-tag-special-section {
    position: relative;
}

.class-tooltip {
    display: block;
    position: absolute;
    bottom: 4.5rem;
    background: #B13A69;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
}

@media all and (min-width: 50em) {
    .class-tooltip {
        bottom: 4.7rem;
    }
}

@media all and (min-width: 80em) {
    .class-tooltip {
        bottom: 5.1rem;
    }
}

.class-tooltip-hidden {
    display: none;
}
