/* Changes the colors for the search bar */
.elm-user-pro-member .mt-quick-search-container .mt-search {
    background: #fff;
}
.elm-user-pro-member .mt-quick-search-container .mt-search {
    color: #000;
}

.elm-user-pro-member .mt-quick-search-container .mt-button {
    color: #999;
}

.columbia-group-pro-viewer .section#attachments.elm-attachments {
    display: none;
}

.columbia-group-pro-viewer .mt-classification-filter-container.mt-search-classification-widget {
    display: none;
}


/*Remove Subscribe Button*/
.columbia-group-pro-viewer li.elm-page-notifications {
    display: none;
}

body.columbia-group-pro-viewer.columbia-group-pro-draft li.elm-page-notifications {
display: block;
}

/*** Styles for Page Settings Classification Tooltips ***/
#live-tags-custom .mt-icon-question2, #live-tag-input-area .mt-icon-question2 {
    float: left;
    margin-right: 3px;
}

#live-tags-custom .mt-icon-question2:hover:before, #live-tag-input-area .mt-icon-question2:hover:before {
    color: #52c5ce;
}

.live-tag-special-section, #live-tag-normal-tags {
    position: relative;
}

.class-tooltip {
    display: block;
    position: absolute;
    bottom: 4.5rem;
    background: #B13A69;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
}

#live-tag-normal-tags .class-tooltip {
    top: -1.7rem;
    height: min-content;
}

@media all and (min-width: 50em) {
    .class-tooltip {
        bottom: 4.7rem;
    }
}

@media all and (min-width: 80em) {
    .class-tooltip {
        bottom: 5.1rem;
    }
}

.class-tooltip-hidden {
    display: none;
}
